# Configuration file

project = "go-fiber"
version = "1.0.0"
author = "Fabien Bellanger"
environment = "development" # development | production

[server]
host = "localhost"
port = 8888

    [server.cors]
    allowOrigins = ["*"]
    allowMethods = ["GET", "POST", "HEAD", "PUT", "DELETE", "PATCH"]
    allowHeaders = ["Origin", "Content-Type", "Accept"]
	exposeHeaders = []
    allowCredentials = false

[database]
driver = "mysql"
host = "127.0.0.1"
port = 3306
username = ""
password = ""
name = ""

[debug]
pprof = false
basicAuthUsername = ""
basicAuthPassword = ""

[jwt]
secret = "mySecretKeyForJWT"
